<div class="c-rows {{ align_class }}">
	<div style="color: {{ fields.text_color }}">
		{{ fields.content }}
	</div>
	<div style="color: {{ fields.text_color }}">
		<div>
			{{ fields.hidden_content }}
		</div>
	</div>
</div>